@model List<DataLayer.Models.Employee>
@{
    ViewData["Title"] = "Employee list";
}

<h1>Employee list</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Add New Employee</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Role</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                <td>@employee.Role</td>
                <td>
                    ********
                </td>
                <td>
                    <a asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-sm btn-info">Edit</a>
                    <a asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>